<script src="//cdn.jsdelivr.net/npm/mermaid@8.4.0/dist/mermaid.min.js"></script>
<script>
    window.$docsify = {
        search: 'auto',
        name: 'mermaid',
        repo: 'https://github.com/knsv/mermaid',
        loadSidebar: true,
        mergeNavbar: true,
        maxLevel: 4,
        subMaxLevel: 2,
        markdown: {
            renderer: {
                code: function (code, lang) {
                    if (lang === "mermaid") {
                        return (
                            '<div class="mermaid">' + mermaid.render('mermaid-svg-' + num++, code) + "</div>"
                        );
                    }
                    return this.origin.code.apply(this, arguments);
                }
            }
        }
    }

    var num = 0;
    mermaid.initialize({ logLevel: 0, startOnLoad: true, themeCSS: '.label { font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif; }' });
</script>
<script src="//unpkg.com/docsify/lib/docsify.min.js"></script>